Cold_Mail.json
{
  "name": "Cold Mail",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d65b2504-a147-4793-a2cd-9d8e3c1ee14d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc",
          "mode": "list",
          "cachedResultName": "cold email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "id": "416dd706-5174-48f8-8de2-9b339705e0e9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NJ45veLdEWHUM3By",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "546160d0-8138-4c24-aff1-7e8db5258238",
              "leftValue": "={{ $json['Send Status'] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "6e6f9e17-a713-4109-b487-25e85ed09d7a",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        740,
        -60
      ],
      "id": "b5653848-7696-4dcd-905e-5742681b5961",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc",
          "mode": "list",
          "cachedResultName": "cold email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2086592697,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc/edit#gid=2086592697"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        920,
        -180
      ],
      "id": "7c7d0038-2443-444c-a6d1-95dfb23cef84",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NJ45veLdEWHUM3By",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        -180
      ],
      "id": "511cd894-521c-434b-a2a9-4cc091941c07",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1400,
        -60
      ],
      "id": "2fd25523-9c8d-45be-9085-97ae46730131",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec929f56-c8da-4240-93a9-2abd41683890",
              "name": "body",
              "value": "={{ $json.body }}{{ $json.body.replace(\"[name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1620,
        -60
      ],
      "id": "77f18ab5-a8ca-458b-a387-bed0061caf1c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Id'] }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Harris"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1880,
        60
      ],
      "id": "dd51cccd-5bce-4e45-9dd4-5f167b3bb3ff",
      "name": "Gmail",
      "webhookId": "50354109-93ab-4e21-a706-dc426dd6daa2",
      "credentials": {
        "gmailOAuth2": {
          "id": "CyNTZIqH65dyASpS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2020,
        -220
      ],
      "id": "6e11b6e6-0b20-4e45-a0c5-78982ac26b72",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc",
          "mode": "list",
          "cachedResultName": "cold email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-lqe1Ww8395GFFBWaZbEhzoe2qpN9KhRCnN3BNE5Pc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Id": "={{ $json['Email Id'] }}",
            "Send Status": "={{ $json.labelIds[0] }}",
            "Time": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}"
          },
          "matchingColumns": [
            "Email Id"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Id",
              "displayName": "Email Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Status",
              "displayName": "Send Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2380,
        120
      ],
      "id": "21414971-12b5-467a-a169-0fdcad8c6997",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NJ45veLdEWHUM3By",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2380,
        320
      ],
      "id": "348d6f02-091d-4cf6-95ba-af8849eb4f98",
      "name": "Wait1",
      "webhookId": "8a996ca1-1f33-4889-ad1e-a9709d76faa1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a3940fc-741c-425a-a1b9-e206d51093b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aec6ae4f22aaf503e12995ef9321a700c48cec511ac9e956a532a9dc8448d233"
  },
  "id": "78prozA2LyvdU3eU",
  "tags": []
}